.odd{
    background-color: hsl(0, 63%, 80%);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.adjust-font {
    font-size: 24px
}

#four {
    font-weight: bold;
    background-color: rgb(159, 255, 159);
}

#two {
    color: blue;
    font-size: 36px;
}